.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

h3{
  margin: 30px;
  display: inline-block;
  vertical-align:top;
  font-family: 'Lobster';
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
}

.home{
  margin: 30px;
  align-items: flex-start;
  position:absolute;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 10%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.colored{
  color: Tomato;
}

.colors{
  color: Gold;
}

.link{
  text-decoration: none !important;
}

::-moz-selection {
  background: none;
}
::selection {
  background: none;
}
